.footer-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 25px;
}

.footer-links-holder {
    display: flex;
    align-items: center;
}

.footer-social-links {
    display: flex;
    color: white;
    align-items: center;
}

.social-icon {
    padding-left: 14px;
}