.header {
    direction: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: red; */
}

.header-logo {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
}

.header-logo,
.header-right {
    display: flex;
    /* flex-basis: 50%; */
}

.logo-btn {
    margin-right: auto;
}

