.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-logo {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
}

.header-logo,
.header-right {
    display: flex;
}

