.help-topics-content-holder {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}

.help-topics-faq {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: 2px;
    width: 100%;
}

.faq-button {
    width: 100%;
}

.help-topics-popular-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
}

.help-popular-content-holder {
    display: flex;
    justify-content: stretch;
    gap: 2px;
}

.help-button {
    display: flex;
    flex: 1;
}

