html {
    scroll-behavior: smooth;
}

.sidebar-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 100%;

}

.button-holder button, 
.button-holder a {
    width: 100%;
}
