.sidebar-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 100%;

}

.button-holder button {
    width: 100%;
}

.sidebar-button {
    margin-left: 0;
    transition: margin-left 8s 0s;
}

.sidebar-button:hover {
    margin-left: -25px;
}