.img-holder {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 3em 5em 10em black;
    position: relative;
    /* background-image: url(images/Honolulu.jpg); */
    background-color: black;
}

.img-holder h1 {
    color: red;
    position: absolute;
    bottom: 0;
    right: 10px;
}